{% load static %}
{% load i18n %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}  {% endblock %}</title>

    <!-- Links -->
<!--    <link rel="stylesheet" href="{% static 'css/styles.css'%}">-->
<!--    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}">-->
<!--    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">-->
<!--    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">-->
<!--    <link rel="shortcut icon" href="{% static 'images/sirius_logo.jpeg' %}">-->
<!--    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>-->

</head>
<body>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}

    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>



    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block script %}

    {% endblock script %}
</body>
</html>