{% extends 'base.html' %}

{% block title %}
Post create
{% endblock %}

{% block content %}



{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <h1>Update Post</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{ form.media }}
            <button type="submit" class="btn btn-success">Update</button>
        </form>
    {% else %}
        <p>You are not allowed to update or delete posts because you are not the author of this blog</p>

    {% endif %}

{% else %}
    <p>You are not allowed to update posts unless you have registered</p>
{% endif %}


{% endblock %}