{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit profile data
{% endblock %}

{% block content %}

        <h1>Update Profile</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="submit-btn" data-avatar-url="{{ profile.avatar.url }}" class="btn btn-success">Update</button>
        </form>





{% endblock %}

{% block script %}
        <script src="{% static 'js/main.js' %}"></script>
{% endblock script %}